.ui-front {
    z-index: 9000 !important;
}

.help-block.help-block-error {
    color: red;
}

#loginform-rememberme {
    display: block;
    float: left;
    margin: 5px;
}

.control-label {
    display: block;
}

.serie_text {
    padding-left: 0 !important;
    font-size: 16px;
    text-align: justify;
}
/*
.header_sign_in.logout,
.header_sign_in.logout:hover{
    color: transparent;
    background: url(../img/header_sign_in.png) center no-repeat;
    width: 34px;
    padding: 0 5px;
}

@media (min-width: 1280px) {
    .header_sign_in, .header_add_announcement {
        width: 150px;
        margin: 0 3px;
    }
    .header_navigation {
        width: 520px;
        left: 370px;
    }
}
*/

@media (max-width: 1280px) {
    #cab_menu .button.orange {
        display: none;
    }
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert h4 {
    margin-top: 0;
    color: inherit;
}
.alert .alert-link {
    font-weight: bold;
}
.alert > p,
.alert > ul {
    margin-bottom: 0;
}
.alert > p + p {
    margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-success hr {
    border-top-color: #c9e2b3;
}
.alert-success .alert-link {
    color: #2b542c;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-info hr {
    border-top-color: #a6e1ec;
}
.alert-info .alert-link {
    color: #245269;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-warning hr {
    border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
    color: #66512c;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-danger hr {
    border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
    color: #843534;
}

.logout {
    color: #3a3481;
    position: relative;
    text-decoration: none;
    display: block;
    float: left;
    width: 100%;
    height: 40px;
    line-height: 35px;
    cursor: pointer;
    text-transform: none;
    font-size: 22px;
    opacity: .95;
    font-weight: 600;
    text-align: left;
    transition: all .2s;
}

.fancybox-skin {
    background: #FFFFFF !important;
}

.ui-autocomplete-input {
    width: 100%;
}