

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=4f591948116fae1e5899484f5d7fa607)
 * Config saved to config.json and https://gist.github.com/4f591948116fae1e5899484f5d7fa607
 */
/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

@import 'https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic';

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #ffffff;
  background-color: #333333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  -webkit-box-shadow: none;
          box-shadow: none;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1250px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1280px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
/**
rabadan: ругается phpstrom, времено закоментил
@-ms-viewport {
  width: device-width;
}
 */
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1280px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1280px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1280px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1280px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}

/* ==========================================================================
   Fonts
   ========================================================================== */






/* ==========================================================================
   Global
   ========================================================================== */

body{
    background: #fff;
    position: relative;
	min-width: 300px;
	color: #333333;
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    line-height: 22px;
}
.page-wrapper{
    width: 100%;
    margin: 0 auto;    
    background: #ffffff;
    position: relative;
    height: auto;
	overflow-x: hidden;
	min-width: 300px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
.pagetitle{
	font-size: 24px;
	font-weight: 600;
	line-height: 1.5;
	margin: 0px auto 10px;
	padding-left: 15px;
}
.title{	
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	color: #333333;
	line-height: 25px;
	text-align: center;
	margin: 40px 0 20px;
}
.button{
	opacity: .9;
	width: 100%;
	max-width: 300px;
	min-height: 40px;
	text-transform: uppercase;
	color: #ffffff !important;
	font-size: 18px;
	line-height: 29px;
	padding: 5px;
	text-align: center;
	cursor: pointer;
	display: block;
	margin: 0px auto;
	border-radius: 5px;
	transition: all .5s;
	outline: none;
	border: none;
	text-decoration: none !important;
}
.button:hover{
	opacity: 1;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,.35);
	color: #ffffff !important;
}
.button.orange{
	background-color: #ff6300;
}
.button.lilac{
	background-color: #6b67a9;
}
.more{
	display: block;
    width: 220px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #6b67a9;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -110px;
	opacity: .8;
}
.more:hover{
	opacity: 1;
	text-decoration: none;
	color: #fff;
}
.phone_button{
	position: relative;
	padding-bottom: 100px;
}
.phone_button .more{
	
}
.longtitle{
	
}
.text{
	font-family: "Tahoma", sans-serif;
}
.bg_gray{
	background: #f1f1f3;
}

@media all and (min-width:480px){
	
}
@media all and (min-width:768px){ 
	.title{
		font-size: 24px;
		text-align: left;
		float: left;
		line-height: 36px;
	}
	.more{
		line-height: 36px;
		float: right;
		position: static;
		display: block;
		width: auto;
		height: auto;		
		text-align: center;
		background: none;
		color: #3a3481;
		text-transform: none;	
		margin-left: 0px;
		opacity: 1;
		margin: 40px 0 20px 0;
	}
	.more:hover{
		text-decoration: underline;
		color: #ff6300;
	}
	.phone_button{
		padding-bottom: 0;
	}
	
}
@media all and (min-width:1280px){
	.pagetitle{
		font-size: 30px;
	}
	.main_bg{
		background: -webkit-linear-gradient(bottom, #ffffff 0%, #f1f1f3 100%);
		background: -o-linear-gradient(bottom, #ffffff 0%, #f1f1f3 100%);
		background: linear-gradient(to top, #ffffff 0%, #f1f1f3 100%);
	}
	.main_bg .important_list_item_link{
		background-color: #ededf0;
	}
}
/* ==========================================================================
   Standard elements
   ========================================================================== */

a img {
    border:none;
    outline:none;
	vertical-align: top;
}
a{
    border:none;
    outline:none;
	text-decoration: none;
	color: #3a3481;
}
a:hover{	
	text-decoration: underline;
	color: #ff6300;
}
img[src=""]{
	display: none;
}
ol, ul {
list-style: none;
	margin: 0;
	padding: 0;
}
button, 
button:active, 
button:focus {
    outline: none;
}
::-webkit-input-placeholder {color: #666666;}
::-moz-placeholder          {color: #666666}/* Firefox 19+ */
:-moz-placeholder           {color: #666666}/* Firefox 18- */
:-ms-input-placeholder      {color: #666666}

input[type="checkbox"],
input[type="radio"] {
    display:none;            
}
input[type="checkbox"] + label, 
input[type="radio"] + label {
   cursor: pointer;
}
input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 10px -2px 0;
    background-image: url(../img/check-field.png);
    background-repeat: no-repeat;
	background-position: center;
	transition: all .5s;
}
input[type="checkbox"] + label::before {
/*    background-position: -38px -260px;    */
}
input[type="checkbox"]:checked + label::before {
/*    background-position: -114px -260px;*/
	background-image: url(../img/check-field-checked.png);
}
input[type="checkbox"]:disabled + label::before {
    opacity: .6;
}
input[type="checkbox"]:checked:disabled + label::before {
    opacity: .6;
}

.radio_list{
	    display: inline-block;
}
.radio_list_item{
	display: inline-block;
}
input[type="radio"] + label {
    opacity: .85;
	display: inline-block;
	padding: 10px;
	background: #3a3481;
	color: #ffffff;
	margin-bottom: 4px;
}
input[type="radio"]:checked + label {
    opacity: 1;
}
/*
input[type="radio"]:disabled + label::before {
    background-position: -144px -279px;
}
input[type="radio"]:checked:disabled + label::before {
    background-position: -162px -279px;
}
*/
/* ==========================================================================
   Main bloks
   ========================================================================== */




/***HEADER***/
.header{
	min-height: 80px;	
	background: #fff;
	position: relative;
}
.header_one,.header_two{
	float: left;
	width: 100%;
	position: relative;
	z-index: 20;
	background: #fff;
}

.header_one {
	
}
.header_two {
	padding: 10px 0;
	position: relative;
	z-index: 20;
}
.header_logo_link {
	float: left;
	display: block;
	width: 220px;
	height: 80px;
	text-align: center;
	line-height: 80px;
}
.header_logo {
	width: 100%;
	height: auto;	
}
.header_button {
	width: 34px;
	height: 34px;
	border:none;
	background: url(../img/header_button.png) center no-repeat;
	float: right;
	margin: 23px 20px;
	opacity: .8;
}
.header_button:hover {
	opacity: 1;	
}
.header_button_active{
	background: url(../img/111.png) center no-repeat;
}
.header_city {
	display: block;
	font-size: 17px;
    line-height: 24px;
    font-weight: 600;
	float: left;
	padding: 5px 15px;
	margin-right: 5px;
	background: url(../img/city.png) right center no-repeat;
	text-decoration: none !important;
	
}
.header_city span{
	border-bottom: 1px dashed #3a3481;
	cursor: pointer;
}
.header_city:hover span{
	border-bottom: 1px dashed #ff6300;
}
.header_sign_in,.header_add_announcement {
	color: transparent;
	text-indent: -19999px;
	display: block;
	float: right;
	width: 34px;
	height: 34px;
	opacity: .8;
	margin-right: 20px;
}
.header_sign_in:hover,.header_add_announcement:hover{
	opacity: 1;
	color: transparent;
}
.header_sign_in {
	background: url(../img/header_sign_in.png) center no-repeat;
}
.header_add_announcement {
	background: url(../img/header_add_announcement.png) center no-repeat;
}
.header_navigation {
	float: left;
	width: 100%;	
	padding: 20px 0;
	background: #f1f1f3;
	position: absolute;
	top: -100%;
	transition: all .5s ease-in;
	z-index: 5;
	opacity: 0;
}
.header_navigation_slide{
	top: 100%;
	opacity: 1;
}
.header_navigation_link {
	font-size: 17px;
    line-height: 25px;
    font-weight: 600;
	margin-bottom: 5px;
	width: 100%;
	float: left;
	display: block;	
	vertical-align: top;
	text-align: center;
	text-decoration: none !important;
	padding: 7px 0
}
.header_navigation_link:hover,
.header_navigation_link.active{	
	text-decoration: none;
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	.header_button{
		display: none;
	}
	.header_one {
		width: 220px;
	}
	.header_two {
		margin-left: 240px;
		width: auto;
		float: none;
		padding: 23px 0;
		max-height: 80px;		
	}
	.header_navigation{
		position: static;	
		opacity: 1;
		height: 50px;
		display: flex;
		flex-direction: row;
		margin: 0;
		padding: 0;
	}	
	.header_navigation_link{
		flex-grow: 1;
		width: auto;
		margin: 0;				
		text-align: center;
		vertical-align: middle;	
		height: 50px;
		line-height: 36px;
	}
	.header_navigation .header_navigation_link:first-child>*{
		padding-left: 40px;
	}
	.header_navigation .header_navigation_link:last-child>*{
		padding-right: 40px;
	}
	.header_navigation_link span{
		display: block;		
	}
	.header_add_announcement{
		margin-right: 0;
	}
}
@media all and (min-width:1280px){
	.header_sign_in,.header_add_announcement {
		width: 160px;
		text-indent: 0;
		border-radius: 5px;
		text-align: center;
        line-height: 34px;
		font-size: 12px;
		text-transform: uppercase;
	}
	.header_sign_in,
	.header_sign_in:hover{
		color: #3a3481;
		background: #f1f1f3;
		margin-right: 10px;
	}
	.header_add_announcement,
	.header_add_announcement:hover{
		color: #fff;
		background: #ff6300;
	}
	.header_navigation{
		background: #fff;
		position: absolute;
		height: 80px;
		width: 600px;
		top: 0;
		left: 310px;
		z-index: 30;
	}
	.header_navigation_link{
		font-size: 16px;
		height: 80px;
    	line-height: 64px;
	}
	.header_navigation .header_navigation_link:first-child>*{
		padding-left: 30px;
	}
	.header_navigation .header_navigation_link:last-child>*{
		padding-right: 30px;
	}
	.pos-l{
		position: relative;
	}
}
/***END HEADER***/


/***MAIN***/
.main{	
    /* stick footer to bottom */
    flex: 1;
    -ms-flex-preferred-size: auto; /* override autoprefixer */
	
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	
}
@media all and (min-width:1280px){
	
}
/***END MAIN***/

/*** facade_news ***/
.facade_news{
    
}
.facade_news_list{
    
}
.facade_news_list_block {
}
.facade_news_list_item {
	display: block;
	vertical-align: top;
	position: relative;
	
}
.facade_news_list_item_photo {
	width: 100%;
    height: auto;
    max-width: 400px;
}
.facade_news_list_item_description {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 18px 22px;	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: all .5s;
}
.facade_news_list_item_description:hover{
	box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,.4);
	background: rgba(0,0,0,.4);
}
.facade_news_list_item_name {
	display: block;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
}
.facade_news_list_item_info {
	display: block;
	opacity: 0;
	transition: all .5s;
	font-size: 13px;
	line-height: 1.5;
	margin: 5px 0;
	color: #fff;
}
.facade_news_list_item:hover .facade_news_list_item_info {
	opacity: 1;
}
.facade_news_list_item_info_date {
	display: inline-block;
	vertical-align: top;	
}
.facade_news_list_item_info_comments {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	padding-left: 20px;
	background: url(../img/comments-icon.png) left center no-repeat;
}
.facade_news .owl-pagination{
	display: none;
}
.facade_news .owl-theme .owl-controls .owl-buttons div{
	padding: 3px 10px 5px;
	background: #3a3481;
	width: 48px;
	height: 48px;
}
.facade_news .owl-theme .owl-controls .owl-buttons div.owl-prev{
	background: url(../img/prev.png) center no-repeat;
}
.facade_news .owl-theme .owl-controls .owl-buttons div.owl-next{
	background: url(../img/next.png) center no-repeat;
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	
}
@media all and (min-width:1280px){
    
}
/***END HEADER***/

/*** content  sidebar ***/
.content {
	width: 100%;
	min-height: 300px;	
}
.sidebar {
	width: 100%;
	float: right;
}


@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	
}
@media all and (min-width:1280px){
    .sidebar {
		width: 300px;
		margin-left: 14px;				
		
	}
	.sidebar_banner{
		width: 300px;
		height: 400px;
		margin-bottom: 40px;
	}
	.content {
		width: 936px;
		float: left;		
	}
}
/***END ontent  sidebar ***/

/*** brands_catalog ***/
.brands_catalog{
    
}
.brands_catalog_list{
	
}
.brands_catalog_list_item{
	width: 33.33%;
	float: left;
	height: 110px;
}
.brands_catalog_list_item_link {
	display: block;
	vertical-align: middle;	
	text-align: center;
	line-height: 50px;
	height: 110px;
	padding-bottom: 10px;
	position: relative;
}
.brands_catalog_list_item_logotip {
	width: 100%;
	height: auto;
	max-width: 50px;		
	vertical-align: middle;	
}
.brands_catalog_list_item_name {
	line-height: 18px;
	white-space: nowrap;
	vertical-align: middle;
	position: absolute;
	bottom: 35px;
	left: 0;
	right: 0;
	width: 100%;
	font-family: Tahoma;
}
@media all and (min-width:480px){
	.brands_catalog_list_item{
		width: 25%;
	}
}
@media all and (min-width:768px){    
	.brands_catalog_list_item{
		width: 14.28%;
	}
}
@media all and (min-width:1280px){
    .brands_catalog_list_item{
		width: 11.11%;
	}
}
/***END brands_catalog ***/

/*** important_list ***/
.important_list {
	padding: 20px 0;
}
.important_list_item {
	margin-bottom: 20px;
}
.important_list_item_link {
	width: 100%;
	height: 90px;
	background-color: #f1f1f3;
	display: block;
	padding: 20px 15px;	
	vertical-align: middle;
	opacity: .9
}
.important_list_item_link:hover{
	text-decoration: none;
	opacity: 1;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.2);
}
.important_list_item_icon {
	width: 50px;
	height: auto;
	line-height: 90px;
	float: left;
	vertical-align: middle;
	margin-right: 15px;
}
.important_list_item_name {
	display: block;
	font-size: 18px;	
	color: #6b67a9;
	font-weight: 600;
	line-height: 20px;
}
.important_list_item_meaning {
	display: block;
	line-height: 20px;
	color: #333333;
}
.discounts{
	background-color: #f1f1f3;
	margin-bottom: 40px;
	padding-bottom: 20px;
}
.discounts .important_list_item_link {    
	height: 120px;
	background: #fff;
	padding: 30px 15px 30px 20px;
	border-bottom: 1px solid #c1c1c2;
}
.discounts .important_list_item_icon {
	margin: 5px 15px 5px 0;
}
.discounts .important_list_item_name {
	font-size: 16px;
}
.discounts .important_list_item_meaning {
	font-size: 13px;
}
.discounts .title{
	padding-left: 15px;
}
.discounts .more{
	padding-right: 15px;
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	
}
@media all and (min-width:1280px){
	.important_list_item_link {
		color: #333333;
		padding: 20px 30px;
	}
}
/***END important_list ***/

/*** new_catalog ***/
.new_catalog{
	
}
.new_catalog_list {
	font-family: Tahoma;
}
.new_catalog_list_item {
	width: 50%;
	height: 200px;
	text-align: center;
	padding: 15px;
	float: left;
}
.new_catalog_list_item_photo {
	width: 100%;
	max-width: 180px;
	max-height: 120px;
	height:auto;
	
}
.new_catalog_list_item_name {
	display: block;
	line-height: 20px;
	color: #3a3481;
}
.new_catalog_list_item_cost {
	display: block;
	line-height: 20px;
	color: #333333;
	font-weight: 700;
}

@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	.new_catalog_list_item {
		width: 25%;
	}
	.new_catalog{
		padding-bottom: 40px;
	}
}
@media all and (min-width:1280px){
	.new_catalog_list_item {
		width: 20%;
		height: 220px;
	}
}
/***END new_catalog ***/


/*** interesting_list ***/
.interesting_list {
	padding-bottom: 40px;
}
.interesting_list_item {
}
.interesting_list_item_photo {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.interesting_list_item_title {
}

@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	
}
@media all and (min-width:1280px){
    
}
/***END interesting_list***/

/*** used_catalog ***/
.used_catalog{
	
}
.used_catalog_list {
	font-family: Tahoma;
}
.used_catalog_list_item {
	width: 50%;
	height: 220px;
	text-align: center;
	padding: 15px;
	float: left;
	margin-bottom: 20px;
}
.used_catalog_list_item_photo {
	width: 100%;
/*
	max-width: 180px;
	max-height: 120px;
*/
	height:auto;
	
}
.used_catalog_list_item_name {
	display: block;
	line-height: 20px;
	color: #3a3481;
}
.used_catalog_list_item_cost {
	display: block;
	line-height: 20px;
	color: #333333;
	font-weight: 700;
}
.used_catalog_list_item_description{
	color: #999999;
	line-height: 20px;
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	.used_catalog_list .used_catalog_list_item {
		width: 33.33%;
		height: 220px;
	}
	.used_catalog{
		padding-bottom: 40px;
	}
}
@media all and (min-width:1280px){
	.used_catalog_list .used_catalog_list_item {
		width: 25%;
		height: 220px;
	}
}
/***END used_catalog ***/

/*** company_new ***/
.company_new{
   background-color: #f1f1f3;
}
.company_new .important_list{
    text-align: center;
}
.company_new .important_list_item{
    display: inline-block;
	margin: 7px 5px;
	width: 130px;
	height: 205px;    
}
.company_new  .important_list_item_link{
	height: auto;
	padding: 0 5px 15px 5px;
}
.company_new .important_list_item_icon{
    margin: 0 auto 20px auto;
	max-width: 140px;
	width: 100%;
	background-color: #ffffff;
	border-bottom: 1px solid #c1c1c2;
	float: none;
}
.company_new .important_list_item_name{
    margin-bottom: 10px;
}
.company_new .important_list_item_meaning{
    
}
.company_new .title{
	padding-left: 15px;
}
.company_new .more{
	padding-right: 15px;
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	
}
@media all and (min-width:1280px){
	.company_new .important_list_item{
		width: 136px;		
	}
}
/***END company_new ***/

/*** company ***/
.company{
    padding-bottom: 25px;
}
.company_subjects {	
	font-weight: 600;
	font-size: 20px;
	line-height: 22px;
	margin-bottom: 7px;
}
.company_subjects_list {
	margin-bottom: 28px;
}
.company_subjects_list_item {
	margin-bottom: 3px;
}
.company_subjects_list_item_link {
	font: 400 16px / 18px Tahoma;
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	
}
@media all and (min-width:1280px){
    
}
/***END company ***/

/*** index_photo_list ***/
.index_photo_list{
    padding-bottom: 20px;
}
.index_photo_list_item{
    
}
.index_photo_list_item_link{
    display: block;
	width: 100%;
	height: 120px;
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	
}
@media all and (min-width:1280px){
    
}
/***END index_photo_list***/

/*** announcements ***/
.announcements .title{
	margin-top: 10px;
}
.announcements .important_list_item_icon{
	margin-top: 10px;
    margin-left: 10px;
    margin-right: 25px;
	margin-bottom: 10px;
}
.announcements .sidebar .button{
	margin-top: 13px;
	margin-bottom: 30px;
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	.announcements .important_list_item_link{
		padding: 20px;
	}
}
@media all and (min-width:1280px){
    
	
}
/***END announcements ***/

/*** breadcrumbs ***/
.breadcrumbs{
	margin: 20px auto;
}
.breadcrumbs {
}
.breadcrumbs li {
	float: left;
}
.breadcrumbs li:after {
    content: "→";
    color: #666666;
    font-weight: 400;
    font-size: 13px;
    margin: 0px 12px;
}
.breadcrumbs li:last-child:after{
	display: none;
}
.breadcrumbs a {
	font: 400 13px / 20px Tahoma;
}
.breadcrumbs a:hover {
}
.breadcrumbs span {
	color: #666666;
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	
}
@media all and (min-width:1280px){
    
}
/***END HEADER***/

/*** brand ***/
.brand{
    
}
.brand .title,
.brand .more{
    padding-left: 15px;
}

.brand_content{	
	height: auto;
	overflow: hidden;
	min-height: 122px;
	font-family: Tahoma;
}
.brand_content_full{
	display: none;
	margin-top: -28px;
}
.brand_content,
.brand_content_full,
.brand_content_more{
	padding: 0 15px;
}
.brand_content_logo{
	width: 100px;
	height: auto;	
    margin: 25px 10px 10px 10px;
	float: left;	
}
.brand_content_logo img{
	width: 100%;
}
.brand_content_more{
	display: block;
	margin: 0px auto;
}
.brand_test{
	padding-bottom: 10px;
}
.brand_test_list{
	
}
.brand_test_list_item{
	padding: 0 5px 0 150px;
	width: 100%;
	margin-bottom: 23px;
	position: relative;
	min-height: 91px;
}

.brand_test_list_item_photo {
	width: 130px;
	height: 86px;	
	position: absolute;
	top: -5px;
	left: 5px;
}

.brand_test_list_item_title {
	display: block;	
	line-height: 20px;
	font-weight: 600;
}
.brand_test_list_item_date {
	display: block;
	line-height: 25px;
	color: #666666;
	font-size: 12px;	
}
.brand_test_list_item_description {
	display: none;
}
.brand_news{
	
}
.brand_news_list{
	
}
.brand_news_list_item .facade_news_list_item{
	max-width: 400px;
	margin: 0 auto;
	width: 100%;
}
.brand_more_list {
	background: #f1f1f3;
	padding: 20px 0;	
}
.brand_more_list_item {
	margin-bottom: 10px;
}
.brand_more_list_item_link {
	display: block;
	padding-left: 40px;
	line-height: 20px;
	font-size: 16px;
	font-weight: 500;
}
.brand_more_list_item_link_shares{
	background: url(../img/percentage-icon2.png) left center no-repeat;
}
.brand_more_list_item_link_news{
	background: url(../img/news2.png) left center no-repeat;
}
.brand_more_list_item_link_used{
	background: url(../img/used-cars-icon2.png) left center no-repeat;
}
.brand_more_list_item_link_reviews{
	background: url(../img/review-icon2.png) left center no-repeat;
}
.brand_more_list_item_link_catalog{
	background: url(../img/catalog-icon.png) left center no-repeat;
}
@media all and (min-width:480px){
	.brand_test_list_item{
		padding-left: 250px;
		min-height: 152px;
	}
	.brand_test_list_item_photo {
		width: 220px;
		height: 147px;
	}
}
@media all and (min-width:768px){    
	.brand_content{				
		position: relative;
		min-height: 162px;
	}	
	.brand_content_logo{
		width: 200px;
		height: 162px;
		line-height: 160px;
		position: absolute;
		left:10px;
		top: 0px;
		margin: 0;
		text-align: center;
	}
	.brand_content,
	.brand_content_full,
	.brand_content_more{
		padding-left: 250px;
		padding-right: 0;
	}
	.brand_test_list_item{
		padding: 0 15px 0 265px;
	}
	.brand_test_list_item_photo {
		left: 15px;
	}
	.brand_test_list_item_title {
		font-size: 18px;
	}	
	.brand_test_list_item_description {
		display: block;
	}
	.brand_news_list_item {
		margin-bottom: 30px;		
	}
}
@media all and (min-width:992px){
	.brand_content_full{
		margin-top: -51px;
	}	
}
@media all and (min-width:1280px){
    .brand_content,
	.brand_content_full,
	.brand_content_more{
		padding-left: 320px;
	}
	.brand_content_logo{
		left: 55px;		
	}
	.brand_content_full{
		margin-top: -51px;
	}
	.brand_test_list_item {
		padding: 0 15px 0 250px;
	}
	.important_list_item_link{
		padding: 20px;
	}
	.brand_test_list_item_photo{
		left: 0;
	}
}
/***END HEADER***/

/*** cars ***/
.cars .interesting_list{
    padding-bottom: 0;
}
.cars_showroom_list{
	padding-bottom: 0;
}
.cars_showroom_list .interesting_list_item_title{
	display: block;
    text-align: center;
    margin-bottom: 30px;
	line-height: 1.5;
	font-size: 18px;
	font-weight: 600;
}
.cars_reviews .brand_test_list_item_title{
	margin-bottom: 10px;
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	
}
@media all and (min-width:1280px){	
	.cars .important_list{
		padding-bottom: 0;
	}
}
/***END cars ***/

/*** company ***/
.firm_mobile .important_list_item_name{
	margin-top: 12px;
}
.firm_mobile .important_list_item_icon{
	margin-top: 0px;
	margin-bottom: 0px;
	max-height: 50px;
	width: auto;
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	.firm .company_new,
	.firm.main_bg .company_new .important_list_item_link{
		background: none;
	}
	.firm .company_new .important_list_item{
		height: 230px;
		vertical-align: top;
		width: 165px;
	}
}
@media all and (min-width:1280px){
    
}
/***END company ***/

/*** HEADER ***/
.subsection{
	
}
.subsection_list{
	padding-bottom: 20px;
}
.subsection_list_item{
	padding: 5px 15px 20px 15px;
    min-height: 90px;
    border-bottom: 1px solid #dfdfe3;
    margin-bottom: 10px;
}
.subsection_list_item_name {
	line-height: 1.5;
	font-size: 18px;
	font-weight: 600;
}
.subsection_list_item_location {
	line-height: 2.5;
	color: #000;
	font-family: Tahoma;
}
.subsection_list_item_content {
	font-family: Tahoma;
}
.subsection_list_item_content_inner{
	display: none;
}
.subsection_list_item_more {
	text-decoration: none !important;
	border-bottom: 1px dashed #3a3481;	
}
.subsection_list_item_more:hover {
	border-bottom: none;
}
.subsection_list_item_vip{
	background: #ededf0 url(../img/premium-icon.png)  98% 15px no-repeat;
	min-height: 150px;
	padding: 18px 40px 25px 40px;
}
.subsection_list_item_description{
	font-size: 13px;
	color: #666666;
	line-height: 1.5;
    margin-top: 6px;
	letter-spacing: .02em;
}
.subsection_content{
	background: #ededf0;
	padding: 17px 22px 27px;
	font-family: Tahoma;
}
.subsection_content_title{
	font-family: 'Exo 2', sans-serif;
	font-size: 18px;
	line-height: 30px;
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	
}
@media all and (min-width:1280px){
    .subsection_list_item{
		padding: 15px 0px;
	}
	.subsection_list_item_vip{
		padding: 18px 40px 25px 40px;
	}
}
/***END subsection ***/

/*** pagination***/
.pagination{
	padding: 20px 0 40px;
	text-align: center;
}
.pagination_location,
.pagination_link{
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	margin: 0 3px;
}
.pagination_location {
	background-color: #ff6300;
	color: #ffffff;
}
.pagination_link {
	transition: all .5s;
}
.pagination_link:hover {
	text-decoration: none !important;
	box-shadow: inset 0px 0px 6px 1px #ff6300;
}
.pagination_link_displacement{
	color: #999999;
	
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	
}
@media all and (min-width:1280px){
    
}
/***END pagination***/

/*** model ***/
.model{
	
} 
model_photo_slider{
	margin-bottom: 40px;
}
#sync1 .item{    
    padding:  0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#sync1 .item img{
	width: 100%;
	height: auto;
}
#sync2 .item{
    background: #C9C9C9;
    padding: 0px;
    margin: 5px;      
    cursor: pointer;
	opacity: .8;
}
#sync2 .item img{
	width: 100%;
	height: auto;
	min-height: 80px;
	max-height: 150px;
}
#sync2 .synced .item{
  opacity: 1;
}

.model_photo_slider .owl-theme .owl-controls .owl-buttons div{
	padding: 3px 10px 5px;
	background: #3a3481;
	width: 48px;
	height: 48px;
}
.model_photo_slider .owl-theme .owl-controls .owl-buttons div.owl-prev{
	background: url(../img/prev.png) center no-repeat;
}
.model_photo_slider .owl-theme .owl-controls .owl-buttons div.owl-next{
	background: url(../img/next.png) center no-repeat;
}
.model .brand_content,
.model .brand_content_full,
.model .brand_content_more{
	padding: 0;
	min-height: 1%;
}
.model_price{
	
}
.model_price_list{
	width: 100%;
}
.model_price_list_item{
	padding: 5px 15px;
	
}
.model_price_list .model_price_list_item:first-child{
	display: none;
}
.model_price_list_item>*{
	display: none;
}
.model_price_list_item>*:first-child,
.model_price_list_item>*:last-child{
	display: block;
}
.model_price_list_item_components {
	
}
.model_price_list_item_drive {
}
.model_price_list_item_engine {
}
.model_price_list_item_power {
}
.model_price_list_item_transmission {
}
.model_price_list_item_cost:after {
	content: "руб";
	margin-left: 3px;
}
@media all and (min-width:480px){
	.model_price_list_item{
		width: 50%;
		float: left;
	}
}
@media all and (min-width:768px){    
	.model .owl-controls{
		display: none !important;
	}
	.model_price_list{
		display: table;
	}
	.model_price_list_item{
		display: table-row;
		float: none;
		width: 100%;
	}
	.model_price_list .model_price_list_item:nth-child(odd){
		background-color: #f1f1f3;
	}
	.model_price_list .model_price_list_item:first-child{
		display: table-row;
	}
	.model_price_list .model_price_list_item:first-child>*{
		color: #ffffff;
		background-color: #6b67a9;
		
	}
	.model_price_list_item>*{
		display: table-cell !important;
		border-right: 2px solid #fff;
		text-align: center;
		padding: 0 10px;
		height: 40px;
	vertical-align: middle;
	}
	.model_price_list_item>*:first-child{
		text-align: left;
	}
	.model_price_list_item_cost:after {
		display: none;
	}
	
}
@media all and (min-width:992px){
	.model .brand_content_full{
		margin-top: -28px;
	}
}
@media all and (min-width:1280px){
	.model_price_list_item{
		padding: 5px 0;
	}
}
/***END model***/

/*** publication ***/
.publication{
	
} 
.publication_content{
	font-family: "Tahoma", sans-serif;
}
.publication_content img{
	max-width: 100%;
	height: auto;
}
#owl-publication .item img{
    display: block;
    width: 100%;
	max-width: 620px;
	margin: 0 auto;
    height: auto;
	max-height: 390px;
}
.publication_content .owl-theme .owl-controls .owl-buttons div{
	padding: 3px 10px 5px;
	background: #3a3481;
	width: 48px;
	height: 48px;
}
.publication_content .owl-theme .owl-controls .owl-buttons div.owl-prev{
	background: url(../img/prev.png) center no-repeat;
}
.publication_content .owl-theme .owl-controls .owl-buttons div.owl-next{
	background: url(../img/next.png) center no-repeat;
}
.comments{
	min-height: 350px;
	
}
.comments .col-xs-12:last-child{
	background: #f1f1f3;
	padding-top: 30px;
}
.comments_form{
	
}
.comments_form_textarea {
	width: 100%;
	height: 160px;
	resize: none;
	margin-bottom: 20px;
	border: 1px solid #dfdfe3;
	padding: 10px;
}
.comments_form_submit {
	display: inline-block;
	width: 160px;
	vertical-align: middle;
	font-size: 12px;
	margin-bottom: 30px;
}
.comments_authorization {
	display: inline-block;
	vertical-align: middle;
	margin-left: 35px;
	margin-bottom: 30px;
	text-decoration: none !important;
	border-bottom: 1px dashed  #3a3481;
}
.comments_authorization:hover {
	border-bottom-color: transparent; 
}
.comments_autor_photo {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.comments_list{
	padding-top: 15px;
	padding-bottom: 15px;
}
.comments_list>.row>*{
	padding-top: 15px;
	padding-bottom: 15px;	
}
.comments_list>.row>*{
	border-top: 1px solid #dfdfe3;
}
.comments_list>.row:first-child>*,.comments_list>.comments_inner>*{
	border-top: none;
}
.comments_list>.comments_inner>.col-sm-12{
	border-top: 1px solid #dfdfe3;
}
.comments_list>.comments_inner:first-child>.col-sm-12{
	border-top: none;
}
.comments_block{
	
}
.comments_autor_name{
	font: 700 14px / 20px Tahoma;
	color: #393481;
}
.comments_date{
	color: #999999;
	font: 400 14px / 20px Tahoma;
	padding-left: 20px;
}
.comments_rating{
	color: #999999;
	font: 700 14px / 40px Tahoma;	
}
.comments_rating_worse,
.comments_rating_position,
.comments_rating_better{
	display: inline-block;
	vertical-align: middle;
	color: #999999;	
	text-align: center;	
}
.comments_rating_worse{
	
}
.comments_rating_position {
	margin: 0 5px;
}
.comments_rating_better {
	
}
.comments_rating_worse>span,
.comments_rating_better>span{
	color: #393481;
	cursor: pointer;
	background-color: #f1f1f3;
	padding: 0 5px;
}
.comments_list>.comments_inner .comments_rating_worse>span,
.comments_list>.comments_inner .comments_rating_better>span{
	cursor: default;
}
.comments_rating_position_positive{
	color: #32cc0f;
}
.comments_rating_position_negative{
	color: #ff0000;
}
.comments_reply{
	color: #393481;
	text-decoration: none !important;
	padding-left: 20px;
}
.comments_reply>span{
	border-bottom: 1px dashed #393481;
}
.comments_reply:hover>span{
	border-bottom: none
}
.comments_reply img{
	vertical-align: middle;
	margin-right: 10px;
}
.comments_location{
	line-height: 40px;
	display: block;
	color: #393481;
	font: 400 18px / 20px Tahoma;
}
.publication .brand_news_list{
	float: left;
	width: 100%;	
}
.brand_news_list_item.col-sm-12 .facade_news_list_item,
.brand_news_list_item.col-sm-12 .facade_news_list_item_photo{
	max-width: 100%;
}
.tags{
	padding: 28px 18px;
	background-color: #f1f1f3;
}
.tags_link{
	text-decoration: none !important;
	color: #fff;
	background-color: #3a3481;
	display: inline-block;
	vertical-align: top;
	padding: 3px 10px;
	opacity: .8;
	transition: all .5s;
	margin-bottom: 15px;
	
}
.tags_link:hover{
	opacity: 1;
}
@media all and (max-width:768px){
	
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	.comments .col-xs-offset-1{
		margin: 0;
	}
}
@media all and (min-width:1280px){
    .brand_news_list_item.col-sm-12 .facade_news_list_item_name{
		font-size: 26px;
		line-height: 1.3;
		margin-top: 40px;
	}
}
/***END publication ***/

/*** car ***/
.car .comments{
	margin-bottom: 40px;
} 
.car .brand_content{
	padding-bottom: 13px;
}
.car .brand_content_more{
	margin-bottom: 40px;
}
.car_info_list{
	margin-bottom: 30px;
}
.car .title{
	padding-left: 0;
}
.car_info_list_item{
	font-size: 16px;
	font-family: Tahoma;
}
.car_info_list_item>*:first-child{
	color: #999999;
}
.car_info{
	padding: 10px;
	text-align: center;
	line-height: 1.3;
	background-color: #f1f1f3;
}
.car_info_cost {
	color: #6b67a9;
	font-size: 30px;
	font-weight: 600;
	margin: 10px 0 6px 0;
}
.car_info_views {
	color: #666666;
	font-size: 12px;
	font-family: Tahoma;
	margin-bottom: 27px;
}
.car_info_phone {
	max-width: 220px;
	margin-bottom: 27px;
}
.car_info_dealer {
	font-family: Tahoma;
	margin-bottom: 20px;
}
.car_info_complaint,
.car_info_popular{
	display: block;
	text-align: left;
	width: 190px;
	height: 20px;
	margin: 10px auto;
	padding-left: 42px;
}
.car_info_complaint {
	background: url(../img/exclamation-icon.png) 12px center no-repeat;
}
.car_info_popular {
	background: url(../img/rocket-icon.png) 12px center no-repeat;
	margin-bottom: 30px;
}
.car .used_catalog_list_item{
	min-height: 220px;
	height: auto;
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	.car .used_catalog_list_item{
		height: 220px;	
	}
}
@media all and (min-width:1280px){
    
}
/***END car***/

/*** car_filter ***/
#filter.filter{
	display: none;
}
.filter.tabs	{
	width: 100%;
	max-width: 300px;
	height: auto;
    background: #ededf0;
	padding: 24px 20px;
	margin-bottom: 30px;	
} 
.filter.tabs .tabs-nav li{
	float: none;
	display: inline;
	font-size: 18px;
}
.filter.tabs .tabs-nav li:after{
	content: "  /";
	color: #3a3481;
}
.filter.tabs .tabs-nav li:last-child:after{
	display: none;
}
.filter.tabs .brands_catalog_list_item{
	width: 50% !important;
}
.filter	.title{
	margin-top: 0;
	font-size: 18px;
}
.form_line{
	width: 100%;
	float: left;
	margin-bottom: 30px;
}
.form_line.row{
	float: none;
}
.filter select,
.filter input[type="text"]{
	width: 100%;
	height: 36px;
	border: 1px solid #dfdfe3;
	background: #fff;
	padding: 0 5px;
}
.filter .col-xs-6 select,
.filter .col-xs-6 input[type="text"]{
	width: 125px;margin:  0 -13px;
	display: block;
}

.filter input[type="checkbox"] + label{
	margin: 0 -13px;
}
.filter_city {
	
}
.filter_make{
	
}
.filter_model{
	
}
.filter_cost{
	
}
.filter_mileage{
	
}
.filter_transmission{
	
}
.filter_color{
	
}
.filter_color_inner{
	
}
.filter .filter_color_inner input[type="checkbox"] + label{
	background: none !important;
}
.filter .filter_color_inner input[type="checkbox"] + label{
	
    background-position: center;
    background-image: url(../img/check-field.png);
    background-repeat: no-repeat;
	margin: 0;
}
.filter_color_inner .filter_color_inner_box{
	background-color: #000000;
	width: 30px;
	height: 30px;
	float: left;
	display: block;
	padding: 5px 7px 7px 7px;	
	margin: 10px 2px 20px 0px;
}
.filter_color_inner .filter_color_inner_box:first-child + *{
	background-color: #7e7e7e;
}
.filter_color_inner .filter_color_inner_box:first-child + * + *{
	background-color: #ffffff;
}
.filter_color_inner .filter_color_inner_box:first-child + * + * + *{
	background-color: #ff0000;
}
.filter_color_inner .filter_color_inner_box:first-child + * + * + * + *{
	background-color: #393481;
}
.filter_color_inner .filter_color_inner_box:first-child + * + * + * + * + *{
	background-color: #0072ff;
}
.filter_color_inner .filter_color_inner_box:first-child + * + * + * + * + * + *{
	background-color: #ffea00;
}
.filter_color_inner .filter_color_inner_box:first-child + * + * + * + * + * + * + *{
	background-color: #1cb91f;
}
.filter_add{
	text-decoration: none !important;
	border-bottom: 1px dashed #3a3481;
	display: inline-block;
	margin: 10px 0;
}
.filter_add:hover{
	border-bottom-color: transparent;
}
.filter_submit{
	width: 200px;
	height: 40px;
}
.filter_button{
	margin: 0px 30px 0 0;

	float: right;
	width: 160px;
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	.filter_button{
		margin: -47px 30px 0 0;
	}
}
@media all and (min-width:1280px){
	#filter.filter{
		display: block !important;
	}
}
/***END car_filter***/

/*** HEADER ***/
.used .tags,
.used .brand_more_list{
	background-color: #ededf0;
} 
.sorting{
	background-color: #ededf0;
	padding: 18px;
	margin: 30px auto;
	text-align: center;
}
.sorting>*{
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;		
	margin-right: 20px;
}
.sorting_title{
	font-size: 16px;
	font-weight: 600;
}
.sorting_button{	
	text-decoration: none !important;
	border-bottom: 1px dashed #3a3481;
}
.sorting_button:hover{
	border-bottom-color: transparent;
}
.car_model{
	background-color: #6b67a9;
	padding: 18px 18px 8px 18px;
	margin: 30px auto;
}
.car_model_button{
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 10px 0;
	font-size: 16px;
	font-weight: 600;
	color: #3a3481;
	text-decoration: none !important;
	background-color: #fff;
	border-radius: 5px;
	padding: 5px 12px;
	text-transform: uppercase;
	opacity: .9;
}
.car_model_button:hover{
	opacity: 1;
}
.main .catalog_view_block,
.main .catalog_view_line{
	display: block;
	float: right;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.main .catalog_view_block{
	background: url(../img/results-1.png);
}
.main .catalog_view_line{
	background: url(../img/results-2.png);
}
.main .catalog_vip{
	background-color: #ffeaad !important;
}
.main .catalog_vip .model_price_list_item_cost{
	background: url(../img/premium-icon.png) 85% 12px no-repeat;
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	.sorting{
		text-align: left;
	}
	.sorting>*{
		display: inline;
		text-align: left;
		margin-bottom: 0;		
	}
	.used .model_price_list_item{
		
		height: 145px;
		background-color: #f1f1f3;
	}
	.used .model_price_list_item>*{
		border-bottom: 10px solid #fff;
	}
	.used .model_price_list>.model_price_list_item:first-child{
		height: 40px;
	}
	.used .model_price_list_item_components{
		text-transform: uppercase;
		line-height: 143px;
		font-size: 18px;
		font-weight: 700;
		padding-left: 0;
	}
	.used .model_price_list>.model_price_list_item:first-child>.model_price_list_item_components{
		font-size: 14px;
		line-height: 40px;
		font-weight: 400;
		padding-left: 10px;
	}
	.used .model_price_list_item_components img{
		width: 220px;
		height: 145px;
		margin-right: 20px
	}
	
}
@media all and (min-width:1280px){
    
}
/***END HEADER***/



/***FOOTER***/


@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	.footer{   
		min-height: 210px;
		background: #ebebeb;
		margin-top: 50px;
		padding: 33px 0;
	}
	.footer_logotip {
		display: block;
		vertical-align: top;
		margin-top: -13px;
		margin-bottom: 10px;
	}
	.footer_logotip_img {
		width: 160px;
		height: auto;
	}
	.footer_copyright {
		font: 500 14px / 20px Tahoma;
		color: #000000;
	}
}
@media all and (min-width:980px){
    .footer{   
		min-height: 210px;
		
	}
}
/***END FOOTER***/


/*** POPUP ***/
.popup{
	background: #fff;
}
#city{
   display: none;
}
#authorization{
	display: none;
}
#registration{
	display: none;
}
.popup_title {
	font-size: 24px;
	line-height: 1.1;
	margin: 15px 0 25px 0;
	text-transform: uppercase;
	font-weight: 600;
}
.popup_form {
}
.popup_form_input {
	width: 100%;
	padding:  0 10px;
	height: 36px;
	margin-bottom: 5px;
	border: 1px solid #dfdfe3;
}
.popup ul {
	margin: 20px 0;
}
.popup ul li {
	margin-bottom: 2px;
}
.popup ul a {
}
.popup_longtitle{
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
	margin: 15px 0 8px 0;
}
.popup_vk,
.popup_facebook {
	width: 100%;
	height: 40px;
	display: block;
	margin-bottom: 10px;
	border-radius: 5px;
	opacity: .8;
	transition: all .5s;
}
.popup_vk {	
	background: #597da3 url(../img/vk.png) center no-repeat;	
}
.popup_facebook {	
	background: #3b5998 url(../img/fb.png) center no-repeat;	
}
.popup_vk:hover,
.popup_facebook:hover {
	opacity: 1;
}
.popup_form_link{
	margin: 13px 0 26px 0;
	text-align: center;	
}
.popup_form_link a{
	vertical-align: top;
	margin: 0 8px;
}
.popup_form_submit{
	min-width: 200px;
	height: 40px;
	margin: 0 auto;
	display: block;
	padding: 0 20px;
	background-color: #6b67a9;
	font-size: 18px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 18px;
	opacity: .9;
	transition: all .5s;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 20px;
}
.popup_form_submit:hover{
	opacity: 1;
}
.popup_form_block{
	padding-left: 26px;	
	padding: 10px  0 28px 26px;
}
.popup_form_block>label{
	margin-left: -26px;
	
}
.popup_form_block>*{
	vertical-align: middle;
	line-height: 1.2;
}
@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	
	
}
@media all and (min-width:1280px){
    
}
/***END POPUP***/



/*** CAB_ads ***/
.account{
	
} 
.tabs{
	padding: 20px 0;
	min-height: 460px;
}
.tabs-nav {
    overflow: hidden;	
}
.tabs-nav li {
    color: #3a3481;    
    position: relative;
    text-decoration: none;    
    display: block;
	float: left;
	width: 100%;
	height: 40px;
	line-height: 35px;
    cursor:pointer;
    text-transform:none;
	font-size: 22px;
	opacity: .95;
	font-weight: 600;
	text-align: center;	
	transition: all .2s;
} 
.tabs-nav li:hover {
    opacity: 1;
	text-shadow: 1px 1px 3px #ccc; 
}
.tabs li.active, 
.tabs li.active:hover { 
    color: #ff6300;
	opacity: 1;
	border: 1px solid;
}

.tabs li.active {
    z-index:3;
}
.tabs-box > div {
    display: none;	
    -webkit-animation: fade 0.5s linear;
    -ms-animation: fade 0.5s linear;
    animation: fade 0.5s linear;	
}
.tabs-box > .active {
    display: block;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.longtitle{
	text-align: center;
	font-size: 24px;
	line-height: 30px;
	margin: 10px auto 0 auto;
	font-weight: 600;
}
.ads_list {
	
}
.ads_list_item{
	font-weight: 600;
	background-color: #ededf0;
	margin-bottom: 15px;
}
.ads_list_item_photo{
	width: 100%;
	height: auto;	
}
.ads_list_item_title{
	color: #000000;
	font-size: 20px;
	line-height: 30px;
}
.ads_list_item_cost{
	color: #000000;	
	font: 600 14px / 30px Tahoma;
	margin-left: 15px;
}
.ads_list_item_control{
	font: 600 14px / 30px Tahoma;
}
.ads_list_item_control_main{
	
}
.ads_list_item_control_more{
	position: relative;
	display: inline-block;
	color: #3a3481;
	cursor: pointer;
	margin-left: 38px;
}
.ads_list_item_control_more:hover{
	color: #ff6300;
	text-decoration: underline;
}
.control_more_list {
	display: none;
	padding: 10px 20px;
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 280px;
	background: #fff;
	z-index: 10;
}
.control_more_list_item {
	background: url(../img/play-icon.png) 0 center no-repeat;
	padding-left: 30px;
	margin: 10px auto;
}
.control_more_list .control_more_list_item:first-child + * {
	background: url(../img/edit-draw-pencil.png) 0 center no-repeat;
}
.control_more_list .control_more_list_item:first-child + * + * {
	background: url(../img/priority.png) 0 center no-repeat;
}
.control_more_list .control_more_list_item:first-child + * + * + * {
	background: url(../img/vip-icon.png) 0 center no-repeat;
}
.control_more_list .control_more_list_item:first-child + * + * + * + * {
	background: url(../img/delete-icon.png) 0 center no-repeat;
}
.control_more_list .control_more_list_item:first-child + * + * + * + * + * {
	background: url(../img/pick-out-icon.png) 0 center no-repeat;
}
.control_more_list .control_more_list_item:first-child + *  + * + * + * + * + *{
	background: url(../img/stat-icon.png) 0 center no-repeat;
}
.control_more_list_item_link {
	line-height: 30px;
}
.ads_list_item_duration {
	font: 600 14px / 30px Tahoma;
	color: #000000;
}
.ads_list_item_duration_visually {
	width: 100%;
	height: 10px;
	background-color: #6b67a9;
	position: relative;
	margin: 10px auto;
	z-index: 1;
}
.ads_list_item_duration_visually_inner {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: auto;
	max-width: 100%;
	width: 83%;
	height: 10px;
	background-color: #ff6300;
	z-index: 2;
}
.ads_list_item_duration_left {
	
}
.ads_list_item_duration_extend {
	margin-left: 20px;
}
.ads_list_item_pick_up{
	background: url(../img/up-arrow.png) center no-repeat;
	display: block;
	margin: 0px auto 10px auto;
	width: 70px;
	height: 100px;
    text-align: center;
    padding-top: 85px;
}
.ads_list_item_pick_up:hover{
	color: #3a3481;
	text-decoration: none;
	transform: scale(1.05,1.05)
}
.ads_list_item_clarification{
	background: url(../img/qestion-icon.png) center no-repeat;
	height: 20px;
	cursor: pointer;
}
.ads_list_item .col-xs-9.col-sm-6,
.ads_list_item  .col-xs-3.col-sm-2{
	padding-top: 10px;
	padding-bottom: 10px;
}
.company_select, .company_input, .company_textarea, .company_download {
    width: 100%;
    height: 36px;
    border: 1px solid #dfdfe3;
    background: #fff;
	padding: 0 10px;
}
.company_download{
	border: none;
	background: none;
	padding: 11px 0;
}
.company_textarea{
	padding: 10px;
	resize: none;
	height: 150px;
}
.company{
	padding: 30px 0;
}
div.company_description{
	margin: 15px 0;
}
.form_line{
	
}
.tabs-nav .button{
	text-align: center;
	line-height: 27px;
	margin-bottom: 30px;
	min-height: 40px;
    height: auto;
}
.necessarily{
	color: #ff0000 !important;
	font-size: 18px;
}
.form_line .pull-right{
	margin-left: 30%;
	margin-top: -36px;
}
.form_line .pull-right .company_input{
	width: 100%;
}
.company_gallery{		
		background-color: #f1f1f3;
		padding: 10px 20px;
	}
.company_gallery img{
		margin: 10px 0;
	}
.company_gallery .button{
		margin-top: 30px;
	}
.account_photo{
	width: 100%;
	max-width: 300px;
	height: auto;
	display: block;
	margin: 10px auto;
}
.account_info_list{
	padding: 20px 0;
	font-size: 16px;
	font-family: Tahoma;
}
.account_info_list_item{
	margin: 10px auto;
}
.account_info_list_item_value{
	color: #666666;
}
.account_info_list_item_description{
	
}
a[href="#account_info_edit"]{
	margin-top: 30px;
	margin-bottom: 30px;
}
#account_info_edit{
	display: none;
}
.birthday_item .company_select{
	width: 140%;
    margin-left: -15px;
}
@media all and (min-width:480px){
	.birthday_item .company_select{
		width: 110%;
	}
}
@media all and (min-width:768px){    
	.tabs-nav li {
		text-align: left;
	}
	.tabs li.active, 
	.tabs li.active:hover {
		border: none;
	}
}
@media all and (min-width:992px){
	.ads_list_item_title{
		margin-top: 15px;
	}
}
@media all and (min-width:1280px){
	.ads_list_item_title{
		margin-top: 30px;
	}
	.ads_list_item_pick_up{
		margin-top: 0px;
	}
	.ads_list_item_cost{
		margin-left: 33px;
	}
	.company_description{
		float: left;
		width: 30%;
		line-height: 35px;
	}
	.company_select, .company_input, .company_textarea, .company_download,.birthday, #account_info_edit .filter_body{
		float: left;
		width: 60%;
	}
	.company_input_border{
		border-bottom: none;
	}
	.company_gallery{
		margin-left: 30%;
	}
	#account_info_edit .longtitle{
		margin-top: 45px;
	}
}
/***END CAB_ads***/

/*** Правки 16-11-2016 ***/

@media all and (max-width:768px){    
	.model_price_list_mobile{
		
	}
	.model_price_list_mobile .model_price_list_item{
		width: 100%;
		margin-bottom: 10px;
	}
	.model_price_list_mobile .model_price_list_item>*{
		display: block;
		padding: 3px
	}
	.model_price_list_mobile .model_price_list_item_drive{
		margin-top: 10px;
	}
	.model_price_list_mobile .model_price_list_item_cost{
		margin-bottom: 10px;
	}
	.model_price_list_mobile .model_price_list_item_components a{
		display: block;
		vertical-align: top;
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		text-decoration: none !important;
	}
	.model_price_list_mobile .model_price_list_item_components img{
		display: block;
		margin: 0 auto 5px auto;
	}
	.main .model_price_list_mobile .catalog_vip .model_price_list_item_cost{
		background: none;
	}
	.model_price_list_mobile .model_price_list_item_drive:before{
		content: "Год выпуска";
		padding-right: 5px;
		font-weight: 600;
	}
	.model_price_list_mobile .model_price_list_item_engine:before{
		content: "Двигатель";
		padding-right: 5px;
		font-weight: 600;
	}
	.model_price_list_mobile .model_price_list_item_power:before{
		content: "Пробег";
		padding-right: 5px;
		font-weight: 600;
	}
	.model_price_list_mobile .model_price_list_item_cost:before{
		content: "Цена";
		padding-right: 5px;
		font-weight: 600;
	}
	.main .catalog_vip{
		background-image: url(../img/premium-icon.png);
		background-position: 96.5% 12px;
		background-repeat: no-repeat;
	}
}
@media all and (min-width:480px) and (max-width:768px){ 
	.model_price_list_mobile .model_price_list_item_components{
		float: left;
		margin-right: 15px;
	}
	.model_price_list_mobile .model_price_list_item_drive {
		margin-top: 18px;
	}
}
/***END HEADER***/

/*** HEADER ***/
.header{
	
} 


@media all and (min-width:480px){
	
}
@media all and (min-width:768px){    
	
}
@media all and (min-width:1280px){
    
}
/***END HEADER***/


